{% extends 'base.html' %}

{% block title %}Главная страница - Блог ИИ{% endblock %}

{% block content %}
    <section class="about-me">
            <h2>👋 Обо мне</h2>
            <img src="https://yaart-web-alice-images.s3.yandex.net/b45bb8ef87ff11f0b103f27b6f852165:1" alt="Изображение Python-разработчик">
            <p>
                Привет! Я — учусь разработке с использованием кода Python. Моя главная сила — <strong>обучаемость и понимание кода</strong>. Я уже могу писать не сложный код, работать с API, базами данных с использованием SQL и многое другое.
            </p>
            <h4>Мои ключевые навыки:</h4>
            <ul>
                <li>Написание кода на Python, SQL</li>
                <li>Работа с фреймворками (Flask)</li>
                <li>Работа с PostgreSQL</li>
                <li>Анализ информации</li>
            </ul>
        </section>

        <section class="progress-table">
            <h2>📈 Мой прогресс в обучении</h2>
            <p>Здесь я отслеживаю свои успехи в изучении фреймворка Flask.</p>
            <table>
                <thead>
                    <tr>
                        <th>Название темы</th>
                        <th>Процент выполнения темы</th>
                        <th>Процент выполнения ДЗ</th>
                        <th>Комментарии</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Основы Flask</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>Оценка 5/5</td>
                    </tr>
                    <tr>
                        <td>HTML&CSS</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>Оценка 11/11</td>
                    </tr>
                    <tr>
                        <td>Шаблоны и формы в Flask</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>Оценка 9/9</td>
                    </tr>
                    <tr>
                        <td>Основы Flask-SQLAlchemy. Работа с базами данных в Flask</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>ДЗ ожидает проверки</td>
                    </tr>
                    <tr>
                        <td>Авторизация в Flask</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>ДЗ ожидает проверки</td>
                    </tr>
                    <tr>
                        <td>Работа с REST API</td>
                        <td>не начато</td>
                        <td>не начато</td>
                        <td></td>
                    </tr>
                  <tr>
                        <td>Итоговый проект</td>
                        <td>не начато</td>
                        <td>не начато</td>
                        <td></td>
                    </tr>
                  <tr>
                        <td>Итогова аттестация</td>
                        <td>не начато</td>
                        <td>не начато</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
{% endblock %}