<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .cursive-text {
          font-size: 19px;
          text-align: center;
        }
        .cursive-text-h1 {
          font-family: "Brush Script Std", cursive;
          font-style: italic;
          text-align: center;

        }
       IMG.displayed {
          display: block;
          margin-left: auto;
          margin-right: auto
        }
      </style>
    <meta charset="UTF-8">
    <title>Hello page</title>
<body>
<h1 class="cursive-text-h1">Hello user</h1>
<p class="cursive-text" >This is start page my Flask project</p>
<figure>
    <img class="displayed" src = 'https://images.steamusercontent.com/ugc/2555311714888879748/AF1FE55A26AA8A93E91E552FAA622EE1B7E36892/'>
    <figcaption><p class="cursive-text">Hello to you from kitten</p></figcaption>
</figure>
</body>
</html>